html {
    font-size: 18px;
    border: 2px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: #303739;
    margin-bottom: 60px;
}

form.inputBox {
/*    float: left;
*/  width: 100%;
    background-color: #34743C;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

div.form-row {
    width: 100%;
    margin: 0px;
}

div.form-group {
    display: inline-block;
    margin:2px;
    padding:19px;
}

div.form-group1{
    display: inline-block;
    margin: 2px;
    padding: 19px;
}

div.container-fluid {
    background-image: linear-gradient(to right, #4FCB03, #096D1F);
}

footer {
    background-image: linear-gradient(to right, #4FCB03, #096D1F);
    width: 100%;
    position: fixed;
    bottom: 0;
    /*background: white;*/
    display: block;
}



