html {
    font-size: 18px;
    border: 2px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.inputBox {
    background-color: white;
    float: initial;
    font-family: 'Spectral SC', serif;
}


