/*namespace MeuSiteEmMVC.wwwroot.css */
html 
{
    font-size: 14px;
}

@media (min-width: 768px) 
{
    html 
    {
        font-size: 16px;
    }
}

html 
{
    position: relative;
    min-height: 100%;
}

body
{
    background: #303739;
    margin-bottom: 60px;
}

header.cabecalho 
{

}

div.container-fluid 
{
    background-image: linear-gradient(to right, #4FCB03, #096D1F);
}
div.container
{
    color: black;
}
footer 
{
    background-image: linear-gradient(to right, #4FCB03, #096D1F);
    width: 100%;
    position: fixed;
    bottom: 0;
    /*    background: white;*/
    display: block;
}
/*Carousel*/
.container 
{
    position: relative;
    padding: 4px;
    max-width: 1150px;
/*    max-height: 800px;*/
    margin: 0 auto;
}

.gallery-wrapper 
{
    overflow-x: auto;
}

.arrow-left,
.arrow-right 
{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover 
{
    opacity: 1;
}

.arrow-right 
{
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery 
{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item 
{
    width: 1135px;
    height: 700px;
    border-radius: 15px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
}

.current-item 
{
    opacity: 1;
}
.gallery-wrapper::-webkit-scrollbar 
{
    display: none;
}
.cyan 
{
    background: cyan;
}

.deeppink 
{
    background: deeppink;
}

.turquoise 
{
    background: turquoise;
}

.darkblue 
{
    background: darkblue;
}

.purple 
{
    background: purple;
}
