@{
    ViewData["Title"] = "Cadastro";
}

<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Cadastro.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body class="Corpo">
    <div class="col-md-12 pt-5 pb-2 ourTeam-hedding text-center">
        <h1>CADASTRO DE PEDESTRES USUÁRIOS DO CARTÃO</h1>
        <p>
            Pedestres que possuem alguma dificuldade na locomoção, tem direito a utilizar um cartão para abrir o semáforo com maior rapidez, que permanece aberto por maior tempo. Para ter acesso a este cartão é necessário preencher o cadastro abaixo com os dados corretos! 
        </p>
    </div>
    <form class="inputBox">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputNome">Nome Completo:</label>
                <input type="text" class="form-control" id="inputNome" placeholder="Insira seu Nome Completo " required  />
          
            </div>
            <div class="form-group col-md-3">
                <label for="inputCpf">CPF:</label>
                <input type="text" class="form-control" id="inputCpf" placeholder="xxx.xxx.xxx-xx" required pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})" />
            </div>
        <div class="form-group1 col-md-3">
            <label for="inputDataNasc">Data de Nascimento:</label>
            <input type="date" class="form-control" id="inputDataNasc" placeholder="xx/xx/xxxx" required/>
        </div>
        </div>
        <div class="form-row">
        <div class="form-group1 col-md-2">
            <label for="inputTel">Telefone:</label>
            <input type="tel" class="form-control" id="inputTel" placeholder="(xx) xxxxx-xxxx"/>
        </div>
        <div class="form-group1 col-md-2">
            <label for="inputCep">CEP:</label>
            <input type="text" class="form-control" id="inputCep"  placeholder="Insira seu CEP"/>
        </div>
            <div class="form-group col-md-3">
                <label for="inputUf">UF:</label>
                <select id="inputUf" class="form-control">
                    <option selected>Selecione: </option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piuí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio de Janeiro</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputCidade">Cidade:</label>
                <input type="text" class="form-control" id="inputCidade" placeholder="Informe o nome da Cidade">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputBairro">Bairro:</label>
                <input type="text" class="form-control" id="inputBairro" placeholder="Informe o nome do Bairro">
            </div>
            <div class="form-group col-md-5">
                <label for="inputRua">Rua:</label>
                <input type="text" class="form-control" id="inputRua" placeholder="Informe o nome da Rua">
            </div>

            <div class="form-group col-md-1">
                <label for="inputNumCasa">Nº:</label>
                <input type="text" class="form-control" id="inputNumCasa">
            </div>

            <div class="form-group col-md-2">
                <label for="inputRua">Complemento:</label>
                <input type="text" class="form-control" id="inputComp" placeholder="">
            </div>

        </div>


        <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputRua">Condição:</label>
            <input type="text" class="form-control" id="inputCond" placeholder="Informe sua Condição:">
        </div>

            <div class="form-group col-md-2">
                <label for="inputCond">Tempo da Condição:</label>
                <select id="inputCond" class="form-control">
                    <option selected>Selecione: </option>
                    <option value="PM">Permanente</option>
                    <option value="TM">Temporario</option>
                    </select>
                    </div>

        <div class="form-group col-md-3">
            <label for="inputNumCasa">Documento Médico:</label>
            <input type="file" class="form-control" id="inputFile">
        </div>

        <div class="form-group col-md-3">
            <label for="inputNumCasa">Foto:</label>
            <input type="file" class="form-control" id="inputFile">
        </div>
        </div>
        <button type="button" class="btn btn-outline-success btn-lg">Salvar</button>
        <button type="button" class="btn btn-outline-danger btn-lg">Excluir</button>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.mask.js"></script>
    <script src="~/js/maskRegistration/userRegistration.js"></script>
</body>
</html>