@{
    ViewData["Title"] = "Página Inicial";
}
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Accessibility Way</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/MeuSiteEmMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Principal.css" asp-append-version="true" />
</head>
@*<body class="page">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-item active">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img" width="100px" height="100px" src="~/img/Principal/Problematização.png" alt="Primeiro Slide">
                </div>
                <div class="carousel-item active">
                    <img class="img" width="100px" height="100px" src="~/img/Principal/MudançasC.png" alt="Segundo Slide">
                </div>
                <div class="carousel-item active">
                    <img class="img" width="100px" height="100px" src="~/img/Principal/Problematização nos dias Atuais!.png" alt="Terceiro Slide">
                </div>
            </div>
                <div class="container">
                    <div class="carousel-caption">
                    </div>
                </div>
        </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</body>*@
@*<body>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img" src="~/img/Principal/Problematização.png" alt="Primeiro Slide">
            </div>
            <div class="carousel-item active">
                <img class="img" src="~/img/Principal/Problematização.png" alt="Segundo Slide">
            </div>
            <div class="carousel-item active">
                <img class="img" src="~/img/Principal/Problematização.png" alt="Terceiro Slide">
            </div>
        </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</body>*@
<body>
    <div class="container">
        <button class="arrow-left control" aria-label="Previous image">◀</button>
        <button class="arrow-right control" aria-label="Next Image">▶</button>
        <div class="gallery-wrapper">
            <div class="gallery">
                <!--       <div class="item current-item cyan"></div>
                <div class="item deeppink"></div>
                <div class="item turquoise"></div>
                <div class="item darkblue"></div>
                <div class="item purple"></div> -->
                <img src="~/img/Principal/Problematização.png" alt="Beach Image" class="item current-item">
                <img src="~/img/Principal/Problematização.png" alt="Animal Image" class="item current-item">
                <img src="~/img/Principal/Problematização.png" alt="Street Image" class="item current-item">
                <img src="~/img/Principal/Problematização.png" alt="Zoo Image" class="item current-item">
                <img src="~/img/Principal/Problematização.png" alt="Model Image" class="item current-item">
            </div>
        </div>
    </div>
</body>
</html>