@{
    ViewData["Title"] = "Página Inicial";
}
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Accessibility Way</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/MeuSiteEmMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Principal.css" asp-append-version="true" />
</head>
    <body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="~/img/Principal/acessibilidade2.jpg" alt="Primeiro Slide">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100" src="~/img/Principal/acessibilidade3.jpg" alt="Segundo Slide">
    </div>
    <div class="carousel-item active">
      <img class="d-block w-100" src="~/img/Principal/blumenau.png" alt="Terceiro Slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
    </body>
</html>
