@{
    ViewData["Title"] = "Página Inicial";
}
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Accessibility Way</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/MeuSiteEmMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Principal.css" asp-append-version="true" />
</head>
<body>
<div class="container">
  <button class="arrow-left control" aria-label="Previous image">◀</button>
  <button class="arrow-right control" aria-label="Next Image">▶</button>
  <div class="gallery-wrapper">
    <div class="gallery">
      <img src="~/img/Principal/Motivaçao.png" alt="Beach Image" class="item current-item">
      <img src="~/img/Principal/Problematização.png" alt="Animal Image" class="item current-item">
      <img src="~/img/Principal/MudançasC.png" alt="Street Image" class="item current-item">
      <img src="~/img/Principal/MudançasP.png" alt="Zoo Image" class="item current-item">
      <img src="~/img/Principal/Ideia.png" alt="Model Image" class="item current-item">
      <img src="~/img/Principal/Pesquisa.png" alt="Model Image" class="item current-item">
      <img src="~/img/Principal/Objetivo.png" alt="Model Image" class="item current-item">
    </div>
  </div>
</div>
</body>
</html>