<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Integrantes.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="Corpo">
</body>

<div class="container"></div>
<div class="row">
    <div class="col-md-12 pt-5 pb-2 ourTeam-hedding text-center">
        <h1>CONHEÇA A EQUIPE DE DESENVOLVEDORES DO ACCESSIBILITY WAY</h1>
        <p>
            Acessibilidade para as pessoas com deficiência ou condições que demandam mais tempo para
            atravessarem a rua e a otimização do tempo para os pedestres atravessarem a rua com o semáforo
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/christian.jpeg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>CHRISTIAN ALVES DOS SANTOS</p>
                    <span>16 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-github" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/gabriele.jpeg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>GABRIELE BUBLITZ</p><br>
                    <span>20 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-github" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/guilherme.jpeg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>GUILHERME PROCHNOW MEYER</p>
                    <span>19 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-github" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/maria.jpeg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>MARIA LUIZA NOVASKY</p>
                    <span>18 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-github" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/nicolle.jpeg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>NICOLLE FORMIGARI PONCIO</p>
                    <span>17 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-github" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

