@{
    ViewData["Title"] = "Integrantes";
}
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Integrantes.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="Corpo">
</body>

<div class="container"></div>
<div class="row">
    <div class="col-md-12 pt-5 pb-2 ourTeam-hedding text-center">
        <h1>CONHEÇA A EQUIPE DE DESENVOLVEDORES DO ACCESSIBILITY WAY</h1>
        <p>
            Entra21, um legado que começou com 5 jovens desconhecidos entre si com um sonho em comum: entrar na área da tecnologia. 

            Com os exercícios propostos, os 5 foram se aproximando, começando uma amizade fazendo brincadeirinhas entre eles enquanto discutiam 
            sobre tudo e mais um pouco e se tornando mais nítido uma ideia de equipe, trocando habilidades, conhecimentos e idéias. E desde então 
            surgiu uma equipe, mas o principal que levaremos para vida, é a amizade e união que adquirimos no decorrer das aulas e do desenvolvimento do 
            nosso projeto.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/christian.png">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>CHRISTIAN ALVES DOS SANTOS</p>
                    <span>16 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/christian-alves-dos-santos-08556623a/"></a>
                    <a class="fa fa-github" aria-hidden="true" href="https://github.com/christlyz"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/gabriele.png">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>GABRIELE BUBLITZ</p><br>
                    <span>20 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/gabriele-bublitz-4b543b22a/"></a>
                    <a class="fa fa-github" aria-hidden="true" href="https://github.com/GabrieleBlz"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/guilherme.png">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>GUILHERME PROCHNOW MEYER</p>
                    <span>18 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/guilherme-prochnow-meyer/"></a>
                    <a class="fa fa-github" aria-hidden="true" href="https://github.com/GuilhermeMeyer"></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/maria.png">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>MARIA LUIZA NOVASKY</p>
                    <span>18 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/marialuizanovasky/"></a>
                    <a class="fa fa-github" aria-hidden="true" href="https://github.com/MariaLuizaNovasky"></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/Integrantes/nicolle.png">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>NICOLLE FORMIGARI PONCIO</p>
                    <span>17 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <a class="fa fa-linkedin" aria-hidden="true" href="https://www.linkedin.com/in/nicolleformigariponcio/"></a>
                    <a class="fa fa-github" aria-hidden="true" href="https://github.com/NicolleF"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

