@{
    ViewData["Title"] = "Integrantes";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <p> <h5>Christian</h5> <h7>Cricri</h7> </p>
    <p> <h5>Gabriele</h5> <h7>Bubbles</h7> </p>
    <p> <h5>Guilherme</h5> <h7>Pochon</h7> </p>
    <p> <h5>Maria</h5> <h7>Piquinhinha</h7> </p>
    <p> <h5>Nicolle</h5> <h7>Formiga</h7> </p>
</div>
