@{
    ViewData["Title"] = "Integrantes";
}

<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Integrantes.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>

    <body class="Corpo"></body>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-12 pt-5 pb-2 ourTeam-hedding text-center">
            <h1>Conheça a Equipe de Desenvolvedores da Acessibility Way</h1>
            <p>
                Acessibilidade para as pessoas com deficiência ou condições que demandam mais tempo para 
                atravessarem a rua e a otimização do tempo para os pedestres atravessarem a rua com o semáforo
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-success ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/WhatsApp Image 2022-10-14 at 16.12.54.jpeg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>MARIA LUIZA NOVASKY</p>
                    <span>Cursando Ensino Médio, <br>18 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-info ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/WhatsApp Image 2022-10-14 at 16.11.18.jpeg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>CHRISTIAN</p>
                    <span>Cursando Ensino Médio <br>16 anos.</span>
                </div>
                <div class="col-md-12 section3">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row section-danger ourTeam-box text-center">
                <div class="col-md-12 section1">
                    <img src="~/img/WhatsApp Image 2022-10-14 at 16.11.29.jpeg">
                </div>
                <div class="col-md-12 section2 pb-3">
                    <p>GUILHERME PROCHNOW MEYER</p>
                    <span>2° Semestre de Sistemas da Informação na FURB <br>19 anos</span>
                </div>
                <div class="col-md-12 section3">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-dribbble" aria-hidden="true"></i>
                </div>

            </div>
        </div>
    </div>
</div>
</html>
